<h1>{{datas.length}}</h1>
<div class="row" ng-if="datas.length > 0">
    <div class="col-lg-11">
        <div class="col-lg-4 col-xs-12 col-md-3  form-group" ng-repeat="elem in selects">
            <select id="{{elem.inx}}" class="form-control" ng-model="node" ng-options="data.name for data in datas | elementId:elem.id" ng-change="newOption(node, $index, selects, datas)"></select>
        </div>
    </div>
    <div class="col-lg-1" id="dugme"><a ng-click="addToArrayLise(selects, datas)" class="pull-right btn btn-primary btn-xs" title="Dodati kvar" ng-if="lastOpen == true"> <span class="glyphicon glyphicon-plus"></span></a></div>
</div>
<div class="row">
    <div class="col-md-12">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="element in arrayList">
                    <td>{{element.id}}</td>
                    <td>{{element.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>